# Ignore bin and obj folders in all projects
**/bin/
**/obj/

# Ignore Visual Studio folders
.vs/
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore NuGet packages
*.nupkg

# Ignore temporary files
*.tmp

# Ignore logs
*.log
